schemaVersion: "2.0.0"

metadataTest:
  labels:
    - key: "maintainer"
      value: "bgauduch@github"
  cmd: ["bash"]
  workdir: "/workspace"

commandTests:
  - name: "Check Git version"
    command: "git"
    args: ["--version"]
    expectedOutput: ["git version 2.39.2"]

  - name: "Check JQ version"
    command: "jq"
    args: ["--version"]
    expectedOutput: ["jq-1.6"]

  - name: "Check OpenSSH client version"
    command: "ssh"
    args: ["-V"]
    expectedError: ["OpenSSH_9.2p1"]

  - name: "Check Terraform CLI version"
    command: "terraform"
    args: ["version"]
    expectedOutput: ["Terraform v${TF_VERSION}"]

  - name: "Check AWS CLI version"
    command: "aws"
    args: ["--version"]
    expectedOutput: ["aws-cli/${AWS_VERSION}"]

fileExistenceTests:
  - name: 'Check non-root user home'
    path: '/home/nonroot'
    shouldExist: true
    permissions: 'drwxr-xr-x'
    uid: 1001
    gid: 1001
    isExecutableBy: 'group'
  - name: 'Check non-root user rights on /workspace folder'
    path: '/workspace'
    shouldExist: true
    permissions: 'drwxr-xr-x'
    uid: 1001
    gid: 1001
    isExecutableBy: 'group'
